# docs/openapi.yaml
openapi: "3.0.3"

info:
  title: Maenews API
  description: |
    REST API untuk portal berita anime, manga, dan kultur pop Jepang — **Maenews**.
    API ini menyediakan endpoint untuk mengakses artikel, trending items, events, dan fitur pencarian, serta panel CMS Admin CRUD.
  version: "1.0.0"
  contact:
    name: Tim Animae
    url: https://animae.id

servers:
  - url: https://golang-maenews-animae-id2569-ksgm0g96.leapcell.dev/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local Development

tags:
  - name: Articles
    description: Operasi CRUD untuk artikel berita
  - name: Events
    description: Event/acara mendatang dan CRUD management
  - name: Categories
    description: Manajemen Kategori
  - name: Tags
    description: Manajemen Label/Tag
  - name: Gallery
    description: Manajemen Media Galeri
  - name: Settings
    description: Konfigurasi Site & Profil Author
  - name: Trending
    description: Item yang sedang trending
  - name: Search
    description: Pencarian artikel

paths:
  # ──────────────────────────────────────────────
  # Articles (Public & Admin)
  # ──────────────────────────────────────────────
  /articles:
    get:
      tags: [Articles]
      summary: Get all articles
      description: Mengambil seluruh daftar artikel berita.
      operationId: getAllArticles
      responses:
        "200":
          description: Daftar artikel berhasil diambil
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Article"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags: [Articles]
      summary: Create a new article (Admin)
      description: Membuat artikel baru di database.
      operationId: createArticle
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleInput"
      responses:
        "201":
          description: Artikel berhasil dibuat
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /articles/{slug}:
    get:
      tags: [Articles]
      summary: Get article by slug
      description: Mengambil detail satu artikel berdasarkan slug URL.
      operationId: getArticleBySlug
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      responses:
        "200":
          description: Detail artikel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      tags: [Articles]
      summary: Update article (Admin)
      description: Memperbarui detail artikel berdasarkan slug.
      operationId: updateArticle
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleInput"
      responses:
        "200":
          description: Artikel berhasil diperbarui
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags: [Articles]
      summary: Delete article (Admin)
      description: Menghapus artikel secara permanen berdasarkan slug.
      operationId: deleteArticle
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      responses:
        "204":
          description: Artikel berhasil dihapus
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /articles/{slug}/view:
    post:
      tags: [Articles]
      summary: Increment article view count
      description: Menambah jumlah view untuk artikel tertentu. Fire-and-forget, tidak mengembalikan body.
      operationId: incrementArticleView
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      responses:
        "204":
          description: View count berhasil ditambahkan
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Categories (Admin)
  # ──────────────────────────────────────────────
  /categories:
    get:
      tags: [Categories]
      summary: List all categories
      description: Mengambil seluruh daftar kategori berita.
      operationId: getCategories
      responses:
        "200":
          description: Daftar kategori
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
    post:
      tags: [Categories]
      summary: Create category
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: Pop Culture
      responses:
        "201":
          description: Kategori berhasil dibuat
        "401":
          $ref: "#/components/responses/Unauthorized"

  /categories/{slug}:
    put:
      tags: [Categories]
      summary: Rename category
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: J-Pop Culture
      responses:
        "200":
          description: Kategori berhasil diubah
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Categories]
      summary: Delete category
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Kategori dihapus
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Tags (Admin)
  # ──────────────────────────────────────────────
  /tags:
    get:
      tags: [Tags]
      summary: List all tags
      operationId: getTags
      responses:
        "200":
          description: Daftar tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"
    post:
      tags: [Tags]
      summary: Create tag
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: One Piece
      responses:
        "201":
          description: Tag dibuat
        "401":
          $ref: "#/components/responses/Unauthorized"

  /tags/{slug}:
    put:
      tags: [Tags]
      summary: Rename tag
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: One Piece Red
      responses:
        "200":
          description: Tag diperbarui
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Tags]
      summary: Delete tag
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Tag dihapus
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Events
  # ──────────────────────────────────────────────
  /events/upcoming:
    get:
      tags: [Events]
      summary: Get upcoming events
      operationId: getUpcomingEvents
      responses:
        "200":
          description: Daftar upcoming events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"

  /events:
    post:
      tags: [Events]
      summary: Create event (Admin)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventInput"
      responses:
        "201":
          description: Event berhasil dibuat
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"

  /events/{slug}:
    get:
      tags: [Events]
      summary: Get event by slug
      operationId: getEventBySlug
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      responses:
        "200":
          description: Detail event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"

    put:
      tags: [Events]
      summary: Update event (Admin)
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventInput"
      responses:
        "200":
          description: Event berhasil diperbarui
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"

    delete:
      tags: [Events]
      summary: Delete event (Admin)
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SlugParam"
      responses:
        "204":
          description: Event berhasil dihapus

  # ──────────────────────────────────────────────
  # Gallery (Media)
  # ──────────────────────────────────────────────
  /gallery:
    get:
      tags: [Gallery]
      summary: Get gallery items
      responses:
        "200":
          description: List media files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GalleryItem"
    post:
      tags: [Gallery]
      summary: Upload gallery item (Admin)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type, url]
              properties:
                title:
                  type: string
                type:
                  type: string
                  enum: [image, video]
                url:
                  type: string
                  format: uri
                category:
                  type: string
      responses:
        "201":
          description: Media berhasil ditambahkan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GalleryItem"

  /gallery/{id}:
    delete:
      tags: [Gallery]
      summary: Delete gallery item (Admin)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Media dihapus

  # ──────────────────────────────────────────────
  # Settings
  # ──────────────────────────────────────────────
  /settings/site:
    get:
      tags: [Settings]
      summary: Get site settings
      responses:
        "200":
          description: Site settings data
    put:
      tags: [Settings]
      summary: Update site settings (Admin)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                siteName:
                  type: string
                siteDescription:
                  type: string
                logoUrl:
                  type: string
                faviconUrl:
                  type: string
                socialLinks:
                  type: object
      responses:
        "200":
          description: Settings updated

  /settings/author:
    get:
      tags: [Settings]
      summary: Get author profile
    put:
      tags: [Settings]
      summary: Update author profile (Admin)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                avatarUrl:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: Profile updated

# ================================================================
# Components
# ================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    SlugParam:
      name: slug
      in: path
      required: true
      description: URL-friendly identifier unik
      schema:
        type: string
        example: attack-on-titan-final-season

  schemas:
    Article:
      type: object
      required:
        - id
        - title
        - slug
        - excerpt
        - description
        - category
        - author
        - publishedAt
        - imageUrl
        - tags
        - featured
        - views
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        description:
          type: string
        category:
          type: string
        author:
          type: string
        publishedAt:
          type: string
          format: date-time
        imageUrl:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        featured:
          type: boolean
        views:
          type: integer

    ArticleInput:
      type: object
      required:
        - title
        - excerpt
        - description
        - content
        - category
        - imageUrl
        - status
      properties:
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        description:
          type: string
        content:
          type: string
        category:
          type: string
        imageUrl:
          type: string
        thumbnailUrl:
          type: string
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [draft, published, archived]
        featured:
          type: boolean

    Category:
      type: object
      required:
        - id
        - name
        - slug
        - count
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        count:
          type: integer

    Tag:
      type: object
      required:
        - id
        - name
        - slug
        - count
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        count:
          type: integer

    Event:
      type: object
      required:
        - id
        - title
        - slug
        - location
        - startDate
        - endDate
        - status
        - description
        - thumbnailUrl
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        location:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [upcoming, ongoing, ended]
        description:
          type: string
        thumbnailUrl:
          type: string
        organizer:
          type: string

    EventInput:
      type: object
      required:
        - title
        - location
        - startDate
        - endDate
        - status
        - description
        - thumbnailUrl
      properties:
        title:
          type: string
        slug:
          type: string
        location:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [upcoming, ongoing, ended]
        description:
          type: string
        thumbnailUrl:
          type: string
        organizer:
          type: string

    GalleryItem:
      type: object
      required:
        - id
        - title
        - type
        - url
        - thumbnailUrl
        - uploadedAt
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
          enum: [image, video]
        url:
          type: string
          format: uri
        thumbnailUrl:
          type: string
          format: uri
        category:
          type: string
        uploadedAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        status:
          type: integer

  responses:
    BadRequest:
      description: Bad request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized admin token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource tidak ditemukan
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
